* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
p {
    margin: 10px 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.5);
    padding: 35px;
    border-radius: 15px;
}
.parallax-container {
    display: block;
    height: 600px;
}
.parallax-container div {
    position: fixed;
    top: 0;
    background-position: center !important;
    transform: translateY(0px);
    height: 600px;
    width: 100%;
}
#home-bg {
    background-image: url('../img/home-bg.jpg');
}
.content {
    position: relative;
    margin-top: -350px;
    margin-bottom: 350px;
}
#homepage h1, #homepage h3 {
    text-align: center;
    line-height: 40px;
}
#about, #services-content {
    display: block;
    background: white;
}
#services {
    background-image: url('../img/services-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#services h2, #services h3 {
    text-align: center;
    line-height: 40px;
}